*{
   margin: 0 auto;
   padding: 0 auto;
   box-sizing: border-box;
}
body{
    font-size: 18px;
      font-family: 'Courier New', Courier, monospace;

}
.logo {
   float: left;
}
h1{
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
}

 h3 {
    font-size: 20px;
    line-height: 25px;
   text-align: left;
 }
 .container { 
    max-width: 900px;
    float: right;
    justify-content:space-evenly;
    width: 100%;

    
}

form {
   margin: 30px ;
   padding: 20px;
   width: 80%;
   border: 5px;
   text-align: left;

}

label {
margin: 0 auto;
padding: 12px 16px;
font-weight: 200;

}
 
input {
width: 70%;
display: flex;
color: violet;
font-style: italic;
margin: 10px 5px;
padding: 12px 16px;
border-radius: 5px;
}
 
 button {
font-size: medium;
margin: 10px;
padding: 10px 12px;
cursor: pointer;
width: 20%;
background-color: azure;
border-radius: 5px;
border-color: rgb(161, 214, 221);

 }

 button:hover {
   color: rgb(163, 105, 163);
 }

 @media  (max-width: 1440px)
 {
   .container{
       width: 100%;
       background-color: aqua;

       
   }
   

}

@media (min-width: 375px)
{
.container{
   width: 70%;
color: rgb(110, 58, 103);

   }
}



